@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    font-family: 'Nova Square', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background: linear-gradient(rgb(47, 165, 120, 0.10), rgb(47, 165, 120, 0.10)), url(../img/fundo-cadastro.jpeg);
}

/*Tela de cadastro*/

nav {
    display: flex;
    margin: 10px 10px 48px;
}

nav a {
    border:none;
    color: rgba(0, 255, 255, 0.829);
    font-size: 28px;
}

nav a:hover {
    cursor: pointer;
    color: rgba(0, 255, 255, 0.900);
}

#main-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-cadastro-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17px;
    border-radius: 8px;
    background-color: rgb(47, 165, 120);
}

#main-cadastro-form h1 {
    font-size: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 200;
}


#main-cadastro-form input {
    height: 40px;
    width: 480px;
    margin: 1.8rem 0;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
}

#main-cadastro-form input:focus {
    background-color: rgb(215, 250, 220);
}

#main-cadastro-form button {
    align-items: center;
    width: 110px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(10, 207, 207,0.8);
    
}

#main-cadastro-form button:hover {
    background-color: rgba(10, 207, 207, 1);
    cursor: pointer;
}

/*tela de busca*/

#main-busca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-busca-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17px;
    border-radius: 8px;
    background-color: rgb(47, 165, 120);
}
