@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    font-family: 'Nova Square', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background: linear-gradient(rgb(47, 165, 120, 0.10), rgb(47, 165, 120, 0.10)), url(../img/fundo-cadastro.jpeg);
}

/*Tela de cadastro*/

nav {
    display: flex;
    margin: 10px 10px 48px;
}

nav a {
    border:none;
    color: rgba(0, 255, 255, 0.829);
    font-size: 28px;
}

nav a:hover {
    cursor: pointer;
    color: rgba(0, 255, 255, 0.900);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17px;
    border-radius: 8px;
    background-color: rgb(47, 165, 120);
}

#main-form h1 {
    font-size: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 200;
}


#main-form input {
    height: 40px;
    width: 480px;
    margin: 1.8rem 0;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
}

#main-form input:focus {
    background-color: rgb(215, 250, 220);
}

.btn-cadastrar {
    align-items: center;
    width: 110px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(10, 207, 207,0.8);
}

.btn-cadastrar:hover {
    background-color: rgba(10, 207, 207, 1);
    cursor: pointer;
}

/*tela de busca*/

.main-form {
    margin-top: 5vh;
}

#main-form-botoes {
    display: flex;
    justify-content: space-around;
}

.btn-alterar {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(207, 131, 10, 0.8);
}

.btn-alterar:hover {
    cursor: pointer;
    background-color: rgba(207, 131, 10, 0.924);
}

.btn-excluir {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(207, 10, 10, 0.65);
}

.btn-excluir a {
    color: black;
}

.btn-excluir:hover {
    cursor: pointer;
    background-color: rgba(207, 10, 10, 0.774);
}

.btn-voltar {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(10, 207, 207,0.8);
}

.btn-voltar a {
    color: black;
}

.btn-voltar:hover {
    cursor: pointer;
    background-color: rgba(10, 207, 207, 0.904);
}